@use '../../styles/variables' as var;

.projects {
  background-color: var.$secondColor;
  padding: 100px 0;
}

#project_card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin-bottom: 50px;
}

.project_section_title {
  color: var.$thirdColor;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.project_title {
  text-transform: uppercase;
  color: #2d2e32;
  font-weight: bold;
  font-size: 1.5rem;

  .project_date {
    text-transform: uppercase;
    color: var.$textColor;
    font-size: 0.9rem;
    font-weight: bold;
  }
}

.links {
  font-weight: 500;
  display: flex;
  justify-content: center;
  width: 100%;

  a {
    font-size: 1.3rem;
    margin-right: 30px;
    transition: all 0.2s;

    i {
      margin-left: 5px;
    }
  }

  a:hover {
    color: var.$thirdColor;
  }
}

.stacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 15px;
}

.project_description {
  line-height: 1.5;
  color: var.$textColor;
  margin-top: 15px;
}

#hook-sentence {
  color: #2d2e32;
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1.5rem 0 1.3rem;
  .puzzle-icon {
    font-size: 1.8rem;
    color: rgb(0, 196, 0);
    margin-left: 10px;
  }
}

.project-badge-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
